{{ tfDoNotEditStamp }}

{{range $consumer := .QueueConsumers -}}
{{range $consumer.Subscriptions -}}
module "sub-{{hclident $consumer.Queue}}-{{hclident .}}" {
  source  = "Automatic/hedwig-queue-subscription/aws"
  version = "~> {{TFQueueSubscriptionModuleVersion}}"

  queue = "${module.consumer-{{hclident $consumer.Queue}}.queue_arn}"
  topic = "${module.topic-{{.}}.arn}"
}
{{- end}}
{{- end}}

{{range $consumer := .LambdaConsumers -}}
{{range $consumer.Subscriptions -}}
module "sub-{{$consumer.FunctionName | hclident }}-{{hclident .}}" {
  source  = "Automatic/hedwig-lambda-subscription/aws"
  version = "~> {{TFLambdaSubscriptionModuleVersion}}"

  function_arn       = "{{$consumer.FunctionARN}}"
  function_name      = "{{$consumer.FunctionName}}"{{if $consumer.FunctionQualifier}}
  function_qualifier = "{{$consumer.FunctionQualifier}}"{{end}}
  topic              = "${module.topic-{{.}}.arn}"
}
{{- end}}
{{- end}}
